


@font-face {
  font-family: 'IranianSans';
  src: url('assets/fonts/IranianSans.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  direction: rtl;
  margin: 0;
  font-family: 'IranianSans'-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}